// Основные цвета
$color-primary: #00aa9b;
$color-primary-dark: #079c92;
$color-secondary: #ecebeb;
$color-secondary-dark: #fafafa;
$color-accent: #e6f7ff;
$color-background: #334950;
$color-error: #ee3323;
$color-destructive: #ee3323;
$color-destructive-dark: #db2515;
$color-text: #333;

// Общие цвета
$color-white: #ffffff;
$color-black: #333333;
$color-gray: #666666;
$color-yellow: #ffff00;
$color-border: #333;

// Состояния
$color-hover: #e6f7ff;
$color-disabled: #cccccc;

// Тени
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
